apiVersion: apps/v1
kind: Deployment
metadata:
  name: h5-q3-green
  labels:
    app: nginx
    version: "v1.1"
    color: green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
      version: "v1.1"
      color: green
  template:
    metadata:
      labels:
        app: nginx
        version: "v1.1"
        color: green
    spec:
      containers:
      - name: nginx
        image: nginx:1.29-alpine-perl
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
            scheme: HTTP
          initialDelaySeconds: 15
          timeoutSeconds: 1
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /
            port: 80
            scheme: HTTP
          initialDelaySeconds: 5
          timeoutSeconds: 1
          periodSeconds: 5
          successThreshold: 1
          failureThreshold: 3                